.errorPopup {
  display: flex;
  border: solid red 5px;
  width: 80%;
  margin: auto;
  margin-bottom: 50px;
  border-radius: 10px;
  background-color: white;
}

.errorMessage {
  display: flex;
  align-items: center;
  margin-left: 10px;
  height: 80px;
  width: 80%;
  font-weight: bold;
}

.fa-circle-exclamation {
  display: flex;
  align-items: center;
  color: red;
  margin-left: 10px;
}