html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  color: black;
  background-color: #f4f1ec;
  font-size: 24px;
  font-family: 'Source Sans Pro', sans-serif;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ec864a;
  background-image: url("https://www.transparenttextures.com/patterns/natural-paper.png");
  height: 400px;
  width: 100%;
}
header h2 {
  margin-bottom: 0px;
  color: #4056A1;
}

main {
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
}
.mainContainer {
  width: 90vw;
}
.new-tweet-container {
  height: auto;
}

/* Posted tweet articles contain 3 sections inside: Header, Midsection, Footer */
article {
  border: solid black 5px;
  width: 100%;
  height: 250px;
  margin-bottom: 50px;
}
article:hover {
  transition: .3s;
  box-shadow: 0 0 11px #4056A1
}

/* Header Content */
.userHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: none;
  width: 100%;
  height: 80px; 
}
header .userName {
  display: flex;
  align-items: center; 
  margin-left: 20px;
  font-weight: bold;
}
header .userHandle {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  margin-right: 20px;
  font-weight: bold;
}

/* Midsection Content */
.midSection {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  margin-left: 20px;
  margin-right: 20px;
}
div .innerText {
  display: inline-block;
  word-wrap: break-word;
  width: 100%;
  font-weight: bold;
}

/* Footer Content */
article footer {
  display: flex;
  justify-content: space-between;
  border-top: solid black 5px;
  margin-left: 10px;
  margin-right: 10px;
  height: 40px;
}
footer div {
  display: flex;
  align-items: center;
}
.datePosted {
  margin-left: 10px;
}
.lowerIcons {
  margin-right: 10px;
  color: #4056A1
}
.fa-retweet {
  margin-left: 8px;
  margin-right: 8px;
}
.fa-solid:hover {
  color: #ec864a;
  transition: 0.3s;
}

/* Bottom arrow */
.arrowUp {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 0px;
  bottom: 0px;
  width: 50px;
  height: 50px;
  color: #4056A1;
  cursor: pointer;
}

/* Media content for dynamic display */
@media only screen and (min-width: 1024px) {
  main {
    width: 50%;
    background: none;
  }
  .headerWithMain {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  header {
    width: 30%;
    border-radius: 10px;
  }
  nav {
    margin-bottom: 80px;
  }
}

@media only screen and (max-width: 1023px) {
  main {
    padding-top: 50px;
  }
}


