nav {
  position: sticky;
  top: 0;
  height: 120px;
  background-color: #ec864a;
  background-image: url("https://www.transparenttextures.com/patterns/natural-paper.png");
  color: #4056A1;
  width: 100%;
}

/* Container for all nav classes inside nav bar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height:120px;
  margin-left: 1.5em;
  margin-right: 1.5em;
}
/* "Tweeter" logo */
.tweeterLogo {
  display: flex;
  font-family: 'Bungee', cursive, sans-serif;
  font-size: 40px;
}
/* "Write a new tweet" text */
.newTweet {
  display: flex;
  justify-content: end;
  flex-direction: column;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 30px;
  font-weight: bold;
  margin-top:7px;
}
/* Down arrow */
.fa-angles-down {
  display: flex;
  justify-content: center;
  color: white;
  margin-top: 7px;
  -webkit-animation: mover 1.0s infinite  alternate;
  animation: mover 1.0s infinite  alternate;
}
.fa-angles-down:hover {
  transition: .3s;
  color: black;
  cursor: pointer;
}

/* Media content for dynamic display */
@media only screen and (min-width: 1024px) {
  nav {
    background-color: #4056A1;
    background-image: none;
    color: white;
  }
  .fa-angles-down {
    color: #ec864a;
  } 
}

@keyframes mover {
  0% { transform: translateY(0); }
  100% { transform: translateY(-10px); }
}

