#tweetForm {
  margin-bottom: 50px;
}

/* Row containing tweet button and counter */
.tweetButtonRow {
  display: flex;
  justify-content: space-between;
  font-family: 'Bungee', cursive, sans-serif;
  align-items: flex-end;
  margin-top: 10px;
}
.tweetButtonRow button {
  border-radius: 5px;
  background-color: #4056A1;
  color: white;
}

/* Text row */
.textArea {
  width: 100%;
  border: none;
  border-bottom: solid black 5px;
  background: transparent;
  resize: none;
  outline: none;
  height: 45px;
  font-weight: bold;
}
.textArea::placeholder {
  color: black;
  font-weight: bold;
  opacity: 0.5;
}
.redCounter {
  color: red;
}